# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Django
*.log
staticfiles/

# Virtualenv
.venv/
env/
venv/

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Coverage
.coverage